@import 'https://fonts.googleapis.com/css?family=Lobster|Open+Sans|Roboto+Slab';

*{
	box-sizing: border-box;
	position: relative;
}

body, html{
	position: relative;
	margin: 0; padding: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	font-family: 'Open Sans', sans-serif;
}

body{
	overflow: visible;
}

h1{
	color: white;
	font-family: Lobster;
	font-size: 48pt;
	text-shadow: #0D040A 0px 1px 2px;
	margin: 0.25em 0;
}

h1 b{
	font-size: 2em;
	display: block;
	color: white;
}


.container {
	margin: auto;
	max-width: 960px;
	padding: 0 30px;
	overflow: hidden;
}

nav {
	position: fixed;
	top: 0; left: 0; width: 100%;
	color: white;
	/*background: rgba(0, 0, 0, 0.85);*/
	z-index: 100;
	font-family: Roboto Slab;
	padding: 0.75em 0;
	background: rgba(0, 0, 0, 0);
	transition: background 0.3s;
}

nav.dark{
	background: rgba(0, 0, 0, 0.85)
}

nav h1{
	font-family: Roboto Slab;
	font-size: 2rem;
	float: left;
	margin: 0;
}

nav a{
	text-decoration: none;
}

nav .container div {
	text-align: right;
	float: right;
}

nav .container div a {
	font-size: 1rem;
	display: inline-block;
	color: #bbb;
	border: 1px solid #bbb;
	text-shadow: black 0 1px 1px;
	text-decoration: none;
	padding: 0.5em;
	margin: 0.25em;
	border-radius: 5px;
	transition: color 0.3s, background 0.3s, box-shadow 0.3s, border 0.3s;
}

nav .container div a:hover{
	background: rgba(0, 0, 0, 0.35);
	box-shadow: rgba(250, 250, 250, 0.5) 0 0 2px 0px;
	border: 1px solid #fff;
	color: #fff;
}

nav .container div a.active{
	background: rgba(150, 150, 150, 0.35);
	color: white;
	border-color: white;
}

section{
	position: relative;
	padding: 10em 0;
	min-height: 100%;
}

section:nth-child(2n+1){
	background: #F39F22;
}
section:nth-child(2n){
	background: #D85402;
}

section#cover{
	background: url(images/beer-dark-bottle-light_2.jpg) center top no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

section#cover article{
	font-size: 46pt;
	font-family: Roboto Slab;
	color: white;
	text-align: center;
	margin-top: 15%;
	text-shadow: #0D040A 0px 1px 2px, black 0 1px 0.1em;
}

section#cover h1{
	text-shadow: #0D040A 0px 1px 2px, black 0 1px 0.1em;
}

section#cover #cta{
	/*background: rgba(164, 63, 2, 0.36);*/
	padding: 50px;
	margin-right: -50px;
	float: right;
}

section#cover .underline{
	border-bottom: 4px double rgba(0, 0, 0, 0.35);
	display: inline-block;
	min-width: 50%;
	margin: 0 auto;
	padding: 0 0 1rem;
}

section#cover .underline:after{
	content: "";
	display: block;
	position: absolute;
	bottom: -3px;
	border-bottom: 1px solid white;
	border-top: 1px solid white;
	width: 100%;
	height: 2px;
	box-shadow: rgba(0, 0, 0, 0.35) 0 0 3px 1px, inset rgba(0, 0, 0, 0.35) 0 0 1px 1px;
}

.divider{
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 0.85em 0;
	background: rgba(250, 250, 250, 0.75);
}

.divider.by-three .container > div{
	width: 33.3333%;
	float: left;
	clear: none;
	font-size: 18pt;
	font-family: Roboto Slab;
	padding: 0.5em 0;
	text-align: center;
	height: 100%;
	color: #333;
	text-shadow: #666 0 1px 2px;
}
.divider.by-three .container > div:nth-child(3n+2){
	border-width: 0 1px;
	border-color: #999;
	border-style: dotted;
}

footer{
	background: #0D040A;
	min-height: 30%;
	padding-top: 1em;
	text-align: center;
}

footer img{
	max-height: 100px;
	opacity: 0.85;
}

@media (max-width: 749px){
	nav h1{
		float: none; display: block; text-align: center;
	}

	nav .container div{
		float: none; text-align: center;
	}
}

@media (max-height: 620px){
	section{
		padding: 2em 0;
	}

	nav h1{
		overflow: hidden;
	}

	nav.dark h1{
		height: 0;

	}
}